<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
  <body>
  <%- partial('_partial/header', {
    index: true
  }) %>
  <%- partial('_partial/jumbotron') %>
  <%- partial('_partial/cards', {
    title: __('new'),
    items: page.posts,
  }) %>
  <%- partial('_partial/cates', {
    title: __('cate.title'),
    path: __('cate.path')
  }) %>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/scripts') %>
  </body>
</html>
