<header class="<% if (index) { %>
  header-index
<% } else { %>
  header-page
<% } %>">
  <div class="container">
    <div class="header-content">
      <a id="main-nav-toggle" class="nav-icon"></a>
      <h1 class="header-logo">
        <a class="no-style header-link" href="
        <% if (is_home()) { %>
          <%= url_for(config.root) %>
        <% } else { %>
          <%= url_for(page.lang) %>
        <% } %>
        "><%= __('title') %></a>
      </h1>
      <div class="menu">
        <a class="no-style header-link" href="<%= url_for(page.lang + '/archives') %>"><%= __('archives') %></a>
        <a class="no-style header-link" target="_blank" href="<%= page.github || (config.github + '/edit/master/source/' + (page.source || '../' + __('cate.path'))) %>"><%= __('edit') %></a>
        <a class="no-style header-link" href="<%= url_for('/readme') %>">README</a>
        <a class="no-style header-link" target="_blank" href="<%= config.github %>"><%= __('github') %></a>
      </div>
      <div id="header-search-div" class="header-search-div">
        <input id="header-search-input" class="header-search-input" type="text" placeholder="<%= __('search') %>"/>
        <div id="header-search-box" class="header-search-box"><ul id="header-search-list"></ul></div>
      </div>
      <div class="header-lang-select-wrap header-link menu">
        <label>
        <% if (is_root()) { %>
          Choose a language
        <% } else { %>
          <%= site.data.languages[page.lang] %>
        <% } %>
        </label>
        <select id="header-lang-select" class="header-lang-select">
        <% if (is_root()) { %>
          <option disabled selected value class="hidden">Choose a language</option>
          <% get_langs().forEach((lang) => { %>
            <option value="<%= switch_lang(lang) %>" ><%= site.data.languages[lang] %></option>
          <% }) %>
        <% } else { %>
          <% get_langs().forEach(lang => { %>
            <option
              value="<%= switch_lang(lang) %>"
              <%= lang === page.lang ? 'selected' : ''%>
            >
              <%= site.data.languages[lang] %>
            </option>
          <% }) %>
        <% } %>
        </select>
      </div>
    </div>
  </div>
 <%- partial('mobile-nav') %>
</header>
